.component {
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.group {
  align-items: center;
  display: flex;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 50%;
}

.artworkMenu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

.artworkMenuItem {
  &:hover {
    cursor: pointer;
  }
}

.artworkDisplay {
  align-items: center;
  background-color: rgba(var(--global-primary), 0.1);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.colorBar {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  bottom: 0.5rem;
  display: flex;
  left: 0.5rem;
  padding: 0.5rem;
  position: absolute;

  i {
    font-size: 20px;
  }

  span {
    display: inline-block;
    height: 25px;
    margin: 0 0.25rem;
    width: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}

.artworkColors {
  display: flex;
  flex-wrap: wrap;

  p {
    background-color: rgba(var(--global-primary), 0.75);
    border-radius: 3px;
    color: rgb(var(--global-secondary));
    font-size: 0.75rem;
    line-height: 1.6;
    padding: 0.25rem;
    width: 100%;

    i {
      font-size: inherit;
      margin-right: 0.25rem;
    }
  }
}

.colorPicker {
  align-items: center;
  border: 1px solid rgb(var(--global-primary));
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.6rem;
}
