.component {
  display: flex;
  flex-direction: column;
}

.songPod {
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

.songPodHeader {
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.songNumber {
  padding: 0 1rem;
}

.songLock {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.songPodForm {
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  input {
    background: rgba(var(--global-primary), 0.1);
    border: 0;
    color: rgb(var(--global-primary));
    padding: 0.5rem;
    width: 100%;
  }

  textarea {
    background: rgba(var(--global-primary), 0.1);
    border: 0;
    color: rgb(var(--global-primary));
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }
}

.songLyrics {
  display: flex;
  flex-direction: column;
}

.songLyricsTable {
  border: 1px solid rgb(var(--global-primary));
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
}

.songLyric {
  align-items: center;
  border-bottom: 1px solid rgba(var(--global-primary), 0.1);
  display: flex;
}

.lyricNumber {
  align-items: center;
  align-self: stretch;
  background-color: rgba(var(--global-primary), 0.25);
  display: flex;
  font-family: monospace;
  font-size: 0.75rem;
  justify-content: center;
  width: 5%;
}

.lyricLine {
  flex-grow: 1;
  height: 100%;

  input {
    all: unset;
    box-sizing: border-box;
    height: 100%;
    padding: 0.5rem;
    width: 100%;
  }
}

.lyricStart {
  align-self: stretch;
  width: 7.5%;

  input {
    all: unset;
    background-color: rgba(var(--global-primary), 0.75);
    box-sizing: border-box;
    color: rgb(var(--global-secondary));
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
  }
}
