.component {
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  margin: 1rem 0;
  padding: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  p {
    background-color: rgba(var(--global-primary), 0.75);
    border-radius: 3px;
    color: rgb(var(--global-secondary));
    font-size: 0.75rem;
    line-height: 1.6;
    padding: 0.25rem;

    i {
      font-size: inherit;
      margin-right: 0.25rem;
    }
  }

  input {
    background: rgba(var(--global-primary), 0.1);
    border: 0;
    color: rgb(var(--global-primary));
    padding: 0.5rem;
    width: 100%;
  }
}

.select {
  align-items: center;
  display: flex;
  font-size: 1rem;
  margin: 0.5rem 0;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  i {
    font-size: inherit;
    margin-right: 0.25rem;
  }
}
