.component {
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}

.importDisplay {
  border-bottom: 1px solid rgba(var(--global-primary), 0.5);
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  width: 100%;

  div {
    margin: 0 1rem;
  }
}

.importInfo {
  padding: 1rem;
  width: 100%;
}

.zipInput {
  align-items: center;
  background-color: rgb(var(--global-primary));
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  display: flex;
  justify-content: center;
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }

  i {
    color: rgb(var(--global-secondary));
    font-size: 3rem;
  }

  input {
    display: none;
  }
}

.driveInput {
  align-items: center;
  background-color: rgb(var(--global-primary));
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  display: flex;
  justify-content: center;
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }

  i {
    color: rgb(var(--global-secondary));
    font-size: 3rem;
  }
}

.localInput {
  align-items: center;
  background-color: rgb(var(--global-primary));
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow-main);
  display: flex;
  justify-content: center;
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }

  i {
    color: rgb(var(--global-secondary));
    font-size: 3rem;
  }
}
